<settings>
    <servers>
        <server>
            <!-- you can actually put the key and secret in here, I like to get them from the env -->
            <id>insidious.places.repository</id>
            <username>AKIAISSZUG4ICHIBE5MQ</username>
            <password>ozDjlsRiAK3bgGTBc/mGGMWxrwSviEY9QS7Diuwl</password>
        </server>
    </servers>
</settings>
