<settings>
    <servers>
        <server>
            <!-- you can actually put the key and secret in here, I like to get them from the env -->
            <id>insidious.places.repository</id>
            <username>${env.username}</username>
            <password>${env.password}</password>
        </server>
    </servers>
</settings>
